[submodule "3rd_party/sm_sst"]
	path = 3rd_party/sm_sst
	url = https://github.com/Mengrendufu/sm_sst.git
[submodule "3rd_party/sm_hsm"]
	path = 3rd_party/sm_hsm
	url = https://github.com/Mengrendufu/sm_hsm.git
[submodule "3rd_party/common_c"]
	path = 3rd_party/common_c
	url = https://github.com/Mengrendufu/common_c.git
[submodule "3rd_party/yyjson"]
	path = 3rd_party/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "3rd_party/notcurses"]
	path = 3rd_party/notcurses
	url = https://github.com/Mengrendufu/notcurses.git
	branch = win-cbreak-fix
